{% extends 'base.html.twig' %}

{% block title %}Forecast index{% endblock %}

{% block body %}
    <h1>Forecast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>Wind</th>
                <th>Pressure</th>
                <th>Rain</th>
                <th>Is_party_time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forecast in forecasts %}
            <tr>
                <td>{{ forecast.id }}</td>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
                <td>{{ forecast.celsius }}</td>
                <td>{{ forecast.wind }}</td>
                <td>{{ forecast.pressure }}</td>
                <td>{{ forecast.rain }}</td>
                <td>{{ forecast.isPartyTime ? 'Yes' : 'No' }}</td>
                <td>
                    {% if is_granted('ROLE_FORECAST_SHOW') %}
                        <a class="btn btn-primary" href="{{ path('app_forecast_show', {'id': forecast.id}) }}">Show</a>
                    {% endif %}
                    {% if is_granted('ROLE_FORECAST_EDIT') %}
                        <a class="btn btn-secondary" href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_FORECAST_NEW') %}
        <a class="btn btn-success btn-lg" href="{{ path('app_forecast_new') }}">Create new</a>
    {% endif %}
{% endblock %}
